body {
    font-family: 'Noto Sans JP', sans-serif;
  }

  .container .row {
    justify-content: center;
  }
  
  .navbar {
    .navbar-brand {
        img {
            width: 5vw;
            height: 5vh;
        }
    }
  }
  
  
  .card {
    margin: 0 13px;
    width: 16rem;
    .card-text-wrap {
        height: 11rem;
        .post-meta {
            font-size: 6px;
            color: #ddd;
          }
      }
      
  }
  
 
  
  @media (max-width: 576px) {

    .navbar {
        .navbar-brand {
            img {
                width: 30vw;
                height: 3vh;
            }
        }
    }

    .card {
      width: 44%;
      margin: 5px 2px;
    }
  
  }
  